/* :root {
    --fg-color: white;
    --bg-color: black;
    --secondary-bg-color: #222222;
    --tertiary-bg-color: #333333;
    --border-width: 3px;
}

input[type="file"] {
    display: none;
}

body {
    color: var(--fg-color);
    background-color: var(--bg-color);
    padding: 20px 2.5%;
}

.button {
    color: var(--fg-color);
    background-color: var(--secondary-bg-color);

    margin: 0.25em;
    padding: 0.25em 0.5em;
    border: var(--border-width) solid var(--fg-color);
    border-radius: 0.25em;

    font-size: 1.5em;

    display: inline;
    cursor: pointer;
}

.button:hover {
    background-color: var(--tertiary-bg-color);
}

.button:active {
    color: var(--bg-color);
    background-color: var(--fg-color);
}

input {
    background-color: var(--secondary-bg-color);
    color: var(--fg-color);
}

.media {
    width: fit-content;
    height: fit-content;
}

.ascii-image {
    font-family: monospace;
    line-height: 1em;
    letter-spacing: 0.3em;
    color: var(--fg-color);
    background-color: var(--bg-color);
} */
